<div class="bg-[#004B8D] text-white text-xs">
  <div class="mx-auto max-w-screen-2xl p-3 flex justify-between items-center">
    <div class="flex gap-3 items-center">
      <img src="../../../assets/svg/home.svg" alt="" class="cursor-pointer" />
      <img src="../../../assets/svg/chevron_right.svg" alt="" />
      <img src="../../../assets/svg/user_icon.svg" alt="" />
      <h1 class="cursor-pointer hover:text-[#CDCDCD]">Qatar LNG Expansion</h1>
      <img src="../../../assets/svg/chevron_right.svg" alt="" />
      <h1 class="cursor-pointer hover:text-[#CDCDCD]">Unit 2</h1>
      <img src="../../../assets/svg/chevron_right.svg" alt="" />
      <h1 class="cursor-pointer hover:text-[#CDCDCD]">FCV-100-12</h1>
    </div>

    <div>
      <button
        class="font-semibold flex items-center gap-2 text-black px-5 py-[10px] rounded-lg bg-[#F2F4F7] hover:bg-white hover:scale-105 transition-all duration-300"
      >
        <img src="../../../assets/svg/save_icon.svg" alt="" />
        Save
      </button>
    </div>
  </div>
</div>
