<app-header></app-header>
<app-top-bar></app-top-bar>
<div class="mx-auto max-w-screen-2xl">
  <div class="m-3">
    <app-tabs [steps]="fcvTabs" [activeIndex]="2">
      <ng-template #tabContent let-data>
        <h1>Process Condition component</h1>
      </ng-template>
      <ng-template #tabContent let-data>
        <h1>Build Assembly component</h1>
      </ng-template>
      <ng-template #tabContent let-data>
        <app-size-valve-tabs></app-size-valve-tabs>
      </ng-template>
      <ng-template #tabContent let-data>
        <h1>Size Actuator component</h1>
      </ng-template>
    </app-tabs>
  </div>
</div>
