<div class="relative overflow-x-auto shadow-md rounded-lg">
  <table
    class="w-full text-xs table-auto valve-table bg-[#FAFAFA] text-[#394272]"
  >
    <tr class="w-full">
      <td>
        <table class="w-full bg-[#CDCDCD] text-black">
          <tr class="table-spacing">
            <th class="p-2">Valve Size</th>
            <th class="p-2">Travel</th>
            <th class="p-2">Port Diameter</th>
            <th class="p-2">Type</th>
            <th class="p-2">10%</th>
            <th class="p-2">20%</th>
            <th class="p-2">30%</th>
            <th class="p-2">40%</th>
            <th class="p-2">50%</th>
            <th class="p-2">60%</th>
            <th class="p-2">70%</th>
            <th class="p-2">80%</th>
            <th class="p-2">90%</th>
            <th class="p-2">100%</th>
          </tr>
        </table>

        <div
          class="overflow-auto m-2 valve-row-shadow border-[2px] border-[#00805A] bg-white rounded-lg"
        >
          <table class="w-full">
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold">2 inch</td>
              <td class="p-2 text-center font-semibold">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Cv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Kv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fl</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fd</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
          </table>
        </div>

        <div
          class="overflow-auto m-2 border-[1px] valve-row-shadow border-[#EAEAEA] bg-white rounded-lg"
        >
          <table class="w-full">
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold">2 inch</td>
              <td class="p-2 text-center font-semibold">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Cv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Kv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fl</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fd</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
          </table>
        </div>

        <div
          class="overflow-auto m-2 border-[1px] valve-row-shadow border-[#EAEAEA] bg-white rounded-lg"
        >
          <table class="w-full">
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold">2 inch</td>
              <td class="p-2 text-center font-semibold">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Cv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Kv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fl</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fd</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
          </table>
        </div>

        <div
          class="overflow-auto m-2 border-[2px] valve-row-shadow border-[#64B4E6] bg-white rounded-lg"
        >
          <table class="w-full">
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold">2 inch</td>
              <td class="p-2 text-center font-semibold">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Cv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Kv</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>

            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fl</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
            <tr class="table-spacing">
              <td class="p-2 text-center font-semibold text-white">
                NPS4 <span class="text-white">Di</span>
              </td>
              <td class="p-2 text-center font-semibold text-white">2 inch</td>
              <td class="p-2 text-center font-semibold text-white">
                4 1/8 inch <span class="text-white">Diam</span>
              </td>
              <td class="p-2 text-center">Fd</td>
              <td class="p-2 text-center">1.25</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
              <td class="p-2 text-center">0.79</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
